@namespace xhtml url(http://www.w3.org/1999/xhtml);
@namespace xf url(http://www.w3.org/2002/xf);
  
.company_name {display: block; width: 100%; font-family: times; font-size: 24pt; font-weight: bold; background-color:#99cccc;}
.company_motto {display: block; width: 100%; font-family: times; color: #eeeeee; font-size: 16pt; font-style: italic; background-color:#116666; text-align:right;}
.rule {display: block; background-color: #116666; }
.spacer {display: block; margin-bottom:10px;}

xf\:hint { display: none;}

xf|input{display: block; width: 95%; margin-top: 4px; margin-bottom: 4px; background-color: rgb(235,235,235);}
xf|input .xf-value, .input-value {width: 48%; background-color: white; border: 1px inset black;}
xf|input > xf|label {width: 280px;  float: left; }

xf\:input {display: block; width: 95%; /* margin-top: 4px; margin-bottom: 4px; */ background-color: rgb(235,235,235);}
xf\:input  pe-value {width: 48%; background-color: white; border: 1px inset black;}
xf\:input  xf\:label {width: 280px; float: left; }

xf\:select1 {display: block; width: 95%; margin-top: 4px; margin-bottom: 4px; background-color: rgb(235,235,235);}
xf\:select1 >  pe-value {min-width: 45%;}
xf\:select1 > xf\:label {width: 280px; float:left; }
xf\:select1[appearance='full'] > pe-value {display: block; margin-right: 250px; float: left;  } 

xf|select1{display: block; width: 95%; margin-top: 4px; margin-bottom: 4px; background-color: rgb(235,235,235);}
xf|select1::value {width: 250px; background-color: white;}
xf|select1  .xf-value, .select1-value {min-width: 45%;}
xf|select1 > xf|label {width: 280px; float:left; }
xf|select1[appearance='full'] > .xf-value {display: block; margin-right: 250px; float: left;  } 

xf\:output.regular {display: block;  background-color: rgb(235,235,235); margin-bottom: 10px;}
xf\:output.regular  xf\:label { width: 175px; float:left; margin-left: 0px; font-family: arial;}
xf\:output.regular   xf\:label  pe-value {display: block; width: 150px;}
xf\:output.regular   pe-value {width: 48%;}

xf\:output.group {display: block; background-color: rgb(235,235,235); margin-bottom: 5px; }
xf\:output.group  xf\:label { float:left; margin-left: 0px; }

xf|output.regular {display: block; background-color: rgb(235,235,235); margin-bottom: 10px;}
xf|output.regular > xf|label{ width: 280px; float:left; margin-left: 0px;}
xf|output.regular xf|label .xf-value{display: block; width: 150px;}
xf|output.regular .xf-value {width: 48%;}

xf\:input.red  pe-value {color: red;}
xf\:input.block {display: block;}

xf|input.red .xf-value {color: red;}
xf|input.block {display: block;}


xf\:form { 
  display: block; 
  width: 700px;
  font-family: verdana;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
}

xf\:group { 
  display: table; 
  width: 650px;
  font-family: verdana;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
}

xf\:group > xf\:input { 
  display: table-row;
  background-color: #ffffff;
  line-height: 10px;
}

xf\:group > xf\:input pe-value { 
  display: table-cell;
  font-family: verdana, arial;
  font-size: 12px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  border: thin black solid; 
  width: 250px;
  min-height: 10em;
  vertical-align: middle;
  padding-bottom: 2px;
  padding-top: 2px; 
  margin-bottom: 10px;     
}

xf\:group > xf\:input > xf\:label {
  display: table-cell; 
  padding: 0 10px 0px 0;
  border: none; 
  text-align: right; 
  width: 200px;
  vertical-align: middle; 
  margin-bottom: 10px;     
}

xf\:group > xf\:input > xf\:label pe-value {  
  display: table-cell; 
  border: none; 
  font-weight: bold; 
}

xf\:group > xf\:output { 
  display: table-row;
  line-height: 15px;
}

xf\:group > xf\:output pe-value { 
  display: block;
  font-family: verdana, arial;
  font-size: 12px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  padding-bottom: 2px;
  padding-top: 2px;
  width: 500px;
}

xf\:group > xf\:output > xf\:label {
  display: table-cell; 
  padding: 0 10px 0px 0;
  border: none; 
  text-align: right; 
  width: 200px;
  vertical-align: middle; 
       
}

xf\:group > xf\:output > xf\:label pe-value {  
  display: table-cell; 
  border: none; 
  font-weight: bold; 
}

xf\:group > xf\:select1 { 
  display: table-row;
  background-color: #ffffff;
  line-height: 15px;
}

xf\:group > xf\:select1 pe-value { 
  display: table-cell;
  font-family: verdana, arial;
  font-size: 12px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  border: thin black solid; 
  width: 250px;
  min-height: 10em;
  vertical-align: middle;
  padding-bottom: 2px;
  padding-top: 2px; 
  margin-bottom: 10px;     
}

xf\:group > xf\:select1 > xf\:label {
  display: table-cell; 
  padding: 0 10px 0px 0;
  border: none; 
  text-align: right; 
  width: 200px;
  vertical-align: middle; 
  margin-bottom: 10px;     
}

xf\:group > xf\:select1 > xf\:label pe-value {  
  display: table-cell; 
  border: none; 
  font-weight: bold; 
}

xf\:submit {
    background-color: #99cccc !important;
    border-color: #d8dfea rgb(14, 31, 91) rgb(14, 31, 91) rgb(216, 223, 234) !important;
    border-style: solid !important;
    border-width: 1px !important;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif !important;    
    font-size: 12px !important;
    margin: 0 2px !important;
    padding: 2px 18px !important;
    float: right;
}

xf\:submit:hover {
   cursor: pointer !important;
   border: 1px solid #ffc !important;
}

.yui-button{display:-moz-inline-box;display:inline-block;vertical-align:text-bottom;}
.yui-button .first-child{display:block;*display:inline-block;}
.yui-button button,.yui-button a{display:block;*display:inline-block;border:none;margin:0;}
.yui-button button{background-color:transparent;*overflow:visible;cursor:pointer;}
.yui-skin-sam .yui-button{border-width:1px 0;border-style:solid;border-color:#808080;background:url(http://yui.yahooapis.com/2.5.2/build/button/assets/skins/sam/../../../../assets/skins/sam/sprite.png) repeat-x 0 0;margin:auto .25em;}
.yui-skin-sam .yui-button .first-child{border-width:0 1px;border-style:solid;border-color:#808080;margin:0 -1px;*position:relative;*left:-1px;}
.yui-skin-sam .yui-button button,.yui-skin-sam .yui-button a{padding:0 10px;font-size:93%;line-height:2;*line-height:1.7;min-height:1.75em;*min-height:auto;color:#000;}
.yui-skin-sam .yui-split-button button,.yui-skin-sam .yui-menu-button button{background-position:right center;background-repeat:no-repeat;}
.yui-skin-sam .yui-menu-button button{background-image:url(http://yui.yahooapis.com/2.5.2/build/button/assets/skins/sam/menu-button-arrow.png);}

xf\:*:disabled, xf\:*:disabled { display: none; }
xf\:*:invalid, .invalid { border-style: solid; border-width: 5px; border-color: red; }
xf\:*:required::after {content: "*"; color: red;}

xf|*:disabled { display: none; }
xf|*:invalid, .invalid { border-style: solid; border-width: 5px; border-color: red; background-color: red; }
xf|*:required::after {content: "*"; color: red;}
