@namespace xhtml url(http://www.w3.org/1999/xhtml);
@namespace xforms url(http://www.w3.org/2002/xforms);

/* Globals, applicable to CSS1 and CSS2 */
body { font-style: normal; font-weight: normal; background-color: white; font-family:verdana,arial,sans-serif;}

.summary 
{
  font-size: 10pt;
  background-color: white;
  height: 80px;
  width:  100%;
  overflow: scroll;
}

.list-button-group {display: inline;}
  
.readerTitle {display: inline; font-size: 18pt; background-color: black; color: white; font-weight: bold; }
.topdiv {width: 95.5%; background-color: black; padding-top: 6px;}
.essbanner {width: 95.5%; background-color: #c8d7e3; font-family:verdana,arial,sans-serif; font-weight: bold; font-size: 8pt;
            padding-left: 7px; padding-top: 3px; padding-bottom: 3px; color: #293d6b; margin-bottom: 5px;}
.channelTitle {width: 99.5%; font-size: 16pt; background-color: #293d6b; color: white;
               padding-left: 7px; padding-top: 3px; padding-bottom: 3px; color: #c8d7e3; font-weight: bold;}
.topsection {width: 100%; font-weight: normal;}               
.bottomsection {width: 100%; margin-top: 32px; font-weight: normal;}
.displayTitle {font-size: 14pt; background-color: #293d6b; color: white;
               padding-left: 7px; padding-top: 3px; padding-bottom: 3px; color: #c8d7e3; font-weight: bold;}
.displayDate {background-color: #c8d7e3; font-family:verdana,arial,sans-serif; font-weight: normal; font-size: 8pt;
            padding-left: 7px; padding-top: 3px; padding-bottom: 3px; color: #293d6b;}
.urlbottom {display: inline; font-size: 9pt; margin-top: 12px; margin-left: 48px;}

.scrollbody 
{
  height: 320px;
  width: 100%;
  overflow: scroll;
}


/* CSS2 definitions */
xforms|trigger, xforms\:trigger {font-size: 12px; font-weight: normal;}

xforms|item, xforms\:item {display: block; width: 280px; }

xforms|input, xforms\:input {display: block; width: 95%; margin-top: 4px; margin-bottom: 4px; background-color: rgb(220,220,220);}
xforms|input .xf-value, .input-value, xforms\:input > pe-value {width: 48%; background-color: white; border: 1px inset black;}
xforms|input > xforms|label, xforms\:input > xforms\:label {width: 160px;  float: left; }
/* following makes small bar on end of label to disappear */
xforms\:input > xforms\:label > pe-value {border: none;  background-color: transparent;}

xforms|select1, xforms\:select1 {display: inline; width: 95%;  margin-top: 4px; margin-bottom: 4px; background-color: rgb(220,220,220);}
xforms|select1 .xf-value, .select1-value, xforms\:select1 > pe-value { width: 35%; max-width: 280px; font-size: 9pt;}
xforms|select1 > xforms|label, xforms\:select1 > xforms\:label {width: 250px;  float: left; }

xforms|textarea, xforms\:textarea {display: block; width: 95%; margin-top: 4px; margin-bottom: 4px; background-color: rgb(220,220,220);}
xforms|textarea .xf-value, .textarea-value, xforms\:textarea > pe-value  {width: 90%; height: 140px;}
xforms|textarea > xforms|label, xforms\:textarea > xforms\:label {width: 80px;  float: left; }

xforms|trigger .xf-value, xforms\:trigger > pe-value {background-color: rgb(190,190,190);}

xforms|group, xforms\:group { margin-top: 3px; width: 95%;}
xforms|group > xforms|select1, xforms\:group > xforms\:select1 {margin-left: 0px; font-size: 90%; font-weight: normal; background-color: rgb(210,210,210);}
xforms|group > xforms|select1 .xf-value, xforms|group > .select1-value, xforms\:group > xforms\:select1 pe-value {font-size: 90%; background-color: rgb(210,210,210);}

xforms|output, xforms\:output {display: block;}
xforms|output > xforms|label, xforms\:output > xforms\:label {background-color: rgb(220,220,220); width: 160px; float:left; margin-left: 0px;}
xforms|output xforms|label .xf-value, xforms\:output > xforms\:label > pe-value {display: block;}
xforms|output .xf-value, xforms\:output > pe-value {width: 48%;}

xforms|*:disabled, xforms\*:disabled { display: none; }

.repeat-item, .xf-repeat-item { display: block; width: 100%; border-top-color: gray; border-top-style: solid; border-top-width: 1px; border-bottom-color: gray; border-bottom-style: solid; border-bottom-width: 1px; }
.repeat-index, .xf-repeat-index {font-size: 14pt; background-color: #c8d7e3; color: #293d6b; font-weight: bold;}
.invalid { border-style: solid; border-width: 2px; border-color: red; }               